# General
.env

# Django & Python
.venv/
dj_tailwind_react/__pycache__/*


# Docker
pgdata/


# Custom App = test_app
test_app/__pycache__/*
test_app/static_src/node_modules/
test_app/management/commands/__pycache__/*
test_app/management/__pycache__/*